<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZWZhdWx0TG9jYWxpemF0aW9uIjoiZW4iLCJkZXBlbmRlbmNpZXMiOlt7
		InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5IjoiY29tYmluZXN0b3JhYmxl
		IiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0dHBzOlwvXC9naXRodWIuY29t
		XC9jcmFuZS1oaXJvbXVcL0NvbWJpbmVTdG9yYWJsZS5naXQiXX0sInByb2R1
		Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dl
		ckJvdW5kIjoiMS4xLjAiLCJ1cHBlckJvdW5kIjoiMS4yLjAifV19fV19LHsi
		c291cmNlQ29udHJvbCI6W3siaWRlbnRpdHkiOiJzd2lmdHVpd29ya2Fyb3Vu
		ZCIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpcL1wvZ2l0aHViLmNv
		bVwvbm9wcGVmb3h3b2xmXC9Td2lmdFVJV29ya2Fyb3VuZCJdfSwicHJvZHVj
		dEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2Vy
		Qm91bmQiOiIwLjAuNSIsInVwcGVyQm91bmQiOiIxLjAuMCJ9XX19XX0seyJz
		b3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6InBsYXlncm91bmR0ZXN0ZXIi
		LCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21c
		L0xvc2lvd2F0eVwvUGxheWdyb3VuZFRlc3Rlci5naXQiXX0sInByb2R1Y3RG
		aWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dlckJv
		dW5kIjoiMC4zLjEiLCJ1cHBlckJvdW5kIjoiMS4wLjAifV19fV19XSwiZGlz
		cGxheU5hbWUiOiJQYWRPU0RDIiwicGFja2FnZUtpbmQiOnsicm9vdCI6e319
		LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJp
		b3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJQ
		YWRPU0RDIiwic2V0dGluZ3MiOlt7ImJ1bmRsZUlkZW50aWZpZXIiOlsiaGNy
		YW5lLnBhZG9zZGMuamFwYW4uMjAyMiJdfSx7InRlYW1JZGVudGlmaWVyIjpb
		IlI4MldKNVczVFYiXX0seyJkaXNwbGF5VmVyc2lvbiI6WyIxLjQiXX0seyJi
		dW5kbGVWZXJzaW9uIjpbIjEwIl19LHsiaU9TQXBwSW5mbyI6W3siYWNjZW50
		Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicmF3VmFs
		dWUiOiJibHVlIn19fSwiYWRkaXRpb25hbEluZm9QbGlzdENvbnRlbnRGaWxl
		UGF0aCI6IkFwcC5wbGlzdCIsImFwcENhdGVnb3J5Ijp7InJhd1ZhbHVlIjoi
		cHVibGljLmFwcC1jYXRlZ29yeS5yZWZlcmVuY2UifSwiYXBwSWNvbiI6eyJh
		c3NldCI6eyJuYW1lIjoiQXBwSWNvbiJ9fSwiY2FwYWJpbGl0aWVzIjpbXSwi
		c3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwic3Vw
		cG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJwb3J0cmFpdCI6e319
		LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxlZnQiOnt9fSx7
		InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24iOnsiZGV2aWNlRmFt
		aWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1bGUi
		XSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsi
		QXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJDb21i
		aW5lU3RvcmFibGUiLCJjb21iaW5lc3RvcmFibGUiLG51bGxdfSx7InByb2R1
		Y3QiOlsiU3dpZnRVSVdvcmthcm91bmQiLCJzd2lmdHVpd29ya2Fyb3VuZCIs
		bnVsbF19LHsicHJvZHVjdCI6WyJQbGF5Z3JvdW5kVGVzdGVyIiwicGxheWdy
		b3VuZHRlc3RlciIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBN
		b2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpb
		eyJjb25kaXRpb24iOnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVz
		IjpbXX0sIm5hbWUiOiJ1bnNhZmVGbGFncyIsInRvb2wiOiJzd2lmdCIsInZh
		bHVlIjpbIi1YZnJvbnRlbmQiLCItd2Fybi1sb25nLWZ1bmN0aW9uLWJvZGll
		cz0xMDAiXX0seyJjb25kaXRpb24iOnsiY29uZmlnIjoiZGVidWciLCJwbGF0
		Zm9ybU5hbWVzIjpbXX0sIm5hbWUiOiJ1bnNhZmVGbGFncyIsInRvb2wiOiJz
		d2lmdCIsInZhbHVlIjpbIi1YZnJvbnRlbmQiLCItd2Fybi1sb25nLWV4cHJl
		c3Npb24tdHlwZS1jaGVja2luZz0xMDAiXX0seyJjb25kaXRpb24iOnsiY29u
		ZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUiOiJkZWZp
		bmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJURVNUSU5HX0VOQUJMRUQi
		XX1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5k
		ZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkNvbWJpbmVTdG9yYWJsZSIsImNvbWJp
		bmVzdG9yYWJsZSIsbnVsbF19LHsicHJvZHVjdCI6WyJTd2lmdFVJV29ya2Fy
		b3VuZCIsInN3aWZ0dWl3b3JrYXJvdW5kIixudWxsXX0seyJwcm9kdWN0Ijpb
		IlBsYXlncm91bmRUZXN0ZXIiLCJwbGF5Z3JvdW5kdGVzdGVyIixudWxsXX1d
		LCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhdGgiOiIuIiwi
		cmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25m
		aWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwibmFtZSI6InVuc2Fm
		ZUZsYWdzIiwidG9vbCI6InN3aWZ0IiwidmFsdWUiOlsiLVhmcm9udGVuZCIs
		Ii13YXJuLWxvbmctZnVuY3Rpb24tYm9kaWVzPTEwMCJdfSx7ImNvbmRpdGlv
		biI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwibmFt
		ZSI6InVuc2FmZUZsYWdzIiwidG9vbCI6InN3aWZ0IiwidmFsdWUiOlsiLVhm
		cm9udGVuZCIsIi13YXJuLWxvbmctZXhwcmVzc2lvbi10eXBlLWNoZWNraW5n
		PTEwMCJdfSx7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRm
		b3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lmdCIs
		InZhbHVlIjpbIlRFU1RJTkdfRU5BQkxFRCJdfV0sInR5cGUiOiJleGVjdXRh
		YmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjYuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		MCzZ3ggPJ+zcOYvBw56+GPPkFDjhhz0p1gXW/MNqQ5U=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
