<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiY29tYmluZXN0b3JhYmxlIiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0
		dHBzOlwvXC9naXRodWIuY29tXC9jcmFuZS1oaXJvbXVcL0NvbWJpbmVTdG9y
		YWJsZS5naXQiXX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50
		Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMS4xLjAiLCJ1cHBlckJvdW5k
		IjoiMS4yLjAifV19fV19XSwiZGlzcGxheU5hbWUiOiJQYWRPU0RDIEphcGFu
		IiwicGFja2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9w
		dGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUu
		MiJ9XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJQYWRPU0RDIEphcGFuIiwic2V0
		dGluZ3MiOlt7ImJ1bmRsZUlkZW50aWZpZXIiOlsiaGNyYW5lLnBhZG9zZGMu
		amFwYW4uMjAyMiJdfSx7InRlYW1JZGVudGlmaWVyIjpbIlI4MldKNVczVFYi
		XX0seyJkaXNwbGF5VmVyc2lvbiI6WyIwLjUuMSJdfSx7ImJ1bmRsZVZlcnNp
		b24iOlsiMyJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7InBy
		ZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoib3Jhbmdl
		In19fSwiYXBwQ2F0ZWdvcnkiOnsicmF3VmFsdWUiOiJwdWJsaWMuYXBwLWNh
		dGVnb3J5LnJlZmVyZW5jZSJ9LCJhcHBJY29uIjp7ImFzc2V0Ijp7Im5hbWUi
		OiJBcHBJY29uIn19LCJjYXBhYmlsaXRpZXMiOltdLCJzdXBwb3J0ZWREZXZp
		Y2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZh
		Y2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVS
		aWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNp
		ZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQi
		XX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4
		ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsi
		ZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkNvbWJpbmVTdG9yYWJsZSIs
		ImNvbWJpbmVzdG9yYWJsZSIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUi
		OiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10sInNldHRp
		bmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRl
		cGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJDb21iaW5lU3RvcmFibGUiLCJj
		b21iaW5lc3RvcmFibGUiLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoi
		QXBwTW9kdWxlIiwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5n
		cyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsi
		X3ZlcnNpb24iOiI1LjYuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		xti3MxzpgcowbhCq+QAgRiAomnwLfa980t9EGS69/wU=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
