<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiY29tYmluZXN0b3JhYmxlIiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0
		dHBzOlwvXC9naXRodWIuY29tXC9jcmFuZS1oaXJvbXVcL0NvbWJpbmVTdG9y
		YWJsZS5naXQiXX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50
		Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMS4xLjAiLCJ1cHBlckJvdW5k
		IjoiMS4yLjAifV19fV19LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRpdHki
		OiJwbGF5Z3JvdW5kdGVzdGVyIiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0
		dHBzOlwvXC9naXRodWIuY29tXC9Mb3Npb3dhdHlcL1BsYXlncm91bmRUZXN0
		ZXIuZ2l0Il19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6
		eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjAuMi4xIiwidXBwZXJCb3VuZCI6
		IjEuMC4wIn1dfX1dfSx7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5Ijoi
		c3dpZnR1aXdvcmthcm91bmQiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0
		cHM6XC9cL2dpdGh1Yi5jb21cL25vcHBlZm94d29sZlwvU3dpZnRVSVdvcmth
		cm91bmQiXX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7
		InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMC4wLjUiLCJ1cHBlckJvdW5kIjoi
		MS4wLjAifV19fV19XSwiZGlzcGxheU5hbWUiOiJQYWRPU0RDIiwicGFja2Fn
		ZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltd
		LCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9XSwicHJv
		ZHVjdHMiOlt7Im5hbWUiOiJQYWRPU0RDIiwic2V0dGluZ3MiOlt7ImJ1bmRs
		ZUlkZW50aWZpZXIiOlsiaGNyYW5lLnBhZG9zZGMuamFwYW4uMjAyMiJdfSx7
		InRlYW1JZGVudGlmaWVyIjpbIlI4MldKNVczVFYiXX0seyJkaXNwbGF5VmVy
		c2lvbiI6WyIxLjIuMSJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiNyJdfSx7ImlP
		U0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7InBy
		ZXNldENvbG9yIjp7InJhd1ZhbHVlIjoiYmx1ZSJ9fX0sImFwcENhdGVnb3J5
		Ijp7InJhd1ZhbHVlIjoicHVibGljLmFwcC1jYXRlZ29yeS5yZWZlcmVuY2Ui
		fSwiYXBwSWNvbiI6eyJhc3NldCI6eyJuYW1lIjoiQXBwSWNvbiJ9fSwiY2Fw
		YWJpbGl0aWVzIjpbXSwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFk
		IiwicGhvbmUiXSwic3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpb
		eyJwb3J0cmFpdCI6e319LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRz
		Y2FwZUxlZnQiOnt9fSx7InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRp
		b24iOnsiZGV2aWNlRmFtaWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0
		cyI6WyJBcHBNb2R1bGUiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1d
		LCJ0YXJnZXRNYXAiOnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W3si
		cHJvZHVjdCI6WyJDb21iaW5lU3RvcmFibGUiLCJjb21iaW5lc3RvcmFibGUi
		LG51bGxdfSx7InByb2R1Y3QiOlsiUGxheWdyb3VuZFRlc3RlciIsInBsYXln
		cm91bmR0ZXN0ZXIiLG51bGxdfSx7InByb2R1Y3QiOlsiU3dpZnRVSVdvcmth
		cm91bmQiLCJzd2lmdHVpd29ya2Fyb3VuZCIsbnVsbF19XSwiZXhjbHVkZSI6
		W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6
		W10sInNldHRpbmdzIjpbeyJjb25kaXRpb24iOnsiY29uZmlnIjoiZGVidWci
		LCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUiOiJkZWZpbmUiLCJ0b29sIjoi
		c3dpZnQiLCJ2YWx1ZSI6WyJURVNUSU5HX0VOQUJMRUQiXX1dLCJ0eXBlIjoi
		ZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpbeyJw
		cm9kdWN0IjpbIkNvbWJpbmVTdG9yYWJsZSIsImNvbWJpbmVzdG9yYWJsZSIs
		bnVsbF19LHsicHJvZHVjdCI6WyJQbGF5Z3JvdW5kVGVzdGVyIiwicGxheWdy
		b3VuZHRlc3RlciIsbnVsbF19LHsicHJvZHVjdCI6WyJTd2lmdFVJV29ya2Fy
		b3VuZCIsInN3aWZ0dWl3b3JrYXJvdW5kIixudWxsXX1dLCJleGNsdWRlIjpb
		XSwibmFtZSI6IkFwcE1vZHVsZSIsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpb
		XSwic2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIs
		InBsYXRmb3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJz
		d2lmdCIsInZhbHVlIjpbIlRFU1RJTkdfRU5BQkxFRCJdfV0sInR5cGUiOiJl
		eGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjYu
		MCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		Bxctv0NFknIUvomMHxcwilw5YfUycdNLwlOFdnzDLaM=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
