<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiY29tYmluZXN0b3JhYmxlIiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0
		dHBzOlwvXC9naXRodWIuY29tXC9jcmFuZS1oaXJvbXVcL0NvbWJpbmVTdG9y
		YWJsZS5naXQiXX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50
		Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMS4xLjAiLCJ1cHBlckJvdW5k
		IjoiMS4yLjAifV19fV19LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRpdHki
		OiJwbGF5Z3JvdW5kdGVzdGVyIiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0
		dHBzOlwvXC9naXRodWIuY29tXC9Mb3Npb3dhdHlcL1BsYXlncm91bmRUZXN0
		ZXIuZ2l0Il19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6
		eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjAuMi4xIiwidXBwZXJCb3VuZCI6
		IjEuMC4wIn1dfX1dfSx7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5Ijoi
		c3dpZnR1aXdvcmthcm91bmQiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0
		cHM6XC9cL2dpdGh1Yi5jb21cL25vcHBlZm94d29sZlwvU3dpZnRVSVdvcmth
		cm91bmQiXX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7
		InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMC4wLjQiLCJ1cHBlckJvdW5kIjoi
		MS4wLjAifV19fV19XSwiZGlzcGxheU5hbWUiOiJQYWRPU0RDIiwicGFja2Fn
		ZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltd
		LCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9XSwicHJv
		ZHVjdHMiOlt7Im5hbWUiOiJQYWRPU0RDIiwic2V0dGluZ3MiOlt7ImJ1bmRs
		ZUlkZW50aWZpZXIiOlsiaGNyYW5lLnBhZG9zZGMuamFwYW4uMjAyMiJdfSx7
		InRlYW1JZGVudGlmaWVyIjpbIlI4MldKNVczVFYiXX0seyJkaXNwbGF5VmVy
		c2lvbiI6WyIxLjEiXX0seyJidW5kbGVWZXJzaW9uIjpbIjUiXX0seyJpT1NB
		cHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJwcmVz
		ZXRDb2xvciI6eyJyYXdWYWx1ZSI6ImJsdWUifX19LCJhcHBDYXRlZ29yeSI6
		eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0ZWdvcnkucmVmZXJlbmNlIn0s
		ImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24ifX0sImNhcGFi
		aWxpdGllcyI6W10sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCIs
		InBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6W3si
		cG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2Nh
		cGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0aW9u
		Ijp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdldHMi
		OlsiQXBwTW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwi
		dGFyZ2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMiOlt7InBy
		b2R1Y3QiOlsiQ29tYmluZVN0b3JhYmxlIiwiY29tYmluZXN0b3JhYmxlIixu
		dWxsXX0seyJwcm9kdWN0IjpbIlBsYXlncm91bmRUZXN0ZXIiLCJwbGF5Z3Jv
		dW5kdGVzdGVyIixudWxsXX0seyJwcm9kdWN0IjpbIlN3aWZ0VUlXb3JrYXJv
		dW5kIiwic3dpZnR1aXdvcmthcm91bmQiLG51bGxdfV0sImV4Y2x1ZGUiOltd
		LCJuYW1lIjoiQXBwTW9kdWxlIiwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltd
		LCJzZXR0aW5ncyI6W3siY29uZGl0aW9uIjp7ImNvbmZpZyI6ImRlYnVnIiwi
		cGxhdGZvcm1OYW1lcyI6W119LCJuYW1lIjoiZGVmaW5lIiwidG9vbCI6InN3
		aWZ0IiwidmFsdWUiOlsiVEVTVElOR19FTkFCTEVEIl19XSwidHlwZSI6ImV4
		ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6W3sicHJv
		ZHVjdCI6WyJDb21iaW5lU3RvcmFibGUiLCJjb21iaW5lc3RvcmFibGUiLG51
		bGxdfSx7InByb2R1Y3QiOlsiUGxheWdyb3VuZFRlc3RlciIsInBsYXlncm91
		bmR0ZXN0ZXIiLG51bGxdfSx7InByb2R1Y3QiOlsiU3dpZnRVSVdvcmthcm91
		bmQiLCJzd2lmdHVpd29ya2Fyb3VuZCIsbnVsbF19XSwiZXhjbHVkZSI6W10s
		Im5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10s
		InNldHRpbmdzIjpbeyJjb25kaXRpb24iOnsiY29uZmlnIjoiZGVidWciLCJw
		bGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUiOiJkZWZpbmUiLCJ0b29sIjoic3dp
		ZnQiLCJ2YWx1ZSI6WyJURVNUSU5HX0VOQUJMRUQiXX1dLCJ0eXBlIjoiZXhl
		Y3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS42LjAi
		fX0=
		</data>
		<key>manifestHash</key>
		<data>
		QAlFf23fZMKSkVUzvzkYWULnKlj589z5eAWt3sW9rDo=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
